.row{
	min-height: 50px;
	border:1px solid blue;
}

.btn{
	background-color:#fb5c02;
}

img{
	max-height:600px;
}


hr{
	width:150px;
	text-align:center; 
	background-color:#b9e75c;
}

#green{
 color:#b9e75c;	
}

h2{
  text-align: center;
}
.title-line {
	color: #ffd000;
	position: relative;
	text-align: center;
}

.bro{
    	color:#b9e75c;
    	font-size:150px;
    }
